<!doctype html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title>帖子</title>
	<link rel="stylesheet" href="/static/css/base.css"><!--路径-->
</head>

<body>
<div id="container">
	<div class="post_block">
		<div class="post_title">
			发帖名
		</div>
		<div class="respond">
			<div class="resp_user">
				用户昵称</br>
				<img class="resp_user_img" src="/static/images/mengbi.jpg"><!--路径-->
			</div>
			<div class="resp_content">
				一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神
				一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神
				一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神
				一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神
				一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神
				一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神
				一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神
				一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神一楼朋神
			</div>
			<div class="clear"></div>
		</div>
		<div class="respond">
			<div class="resp_user">
				用户昵称</br>
				<img class="resp_user_img" src="/static/images/mengbi.jpg"><!--路径-->
			</div>
			<div class="resp_content">
				拜朋神
			</div>
			<div class="clear"></div>
		</div>
		<div class="respond">
			<div class="resp_user">
				用户昵称</br>
				<img class="resp_user_img" src="/static/images/mengbi.jpg"><!--路径-->
			</div>
			<div class="resp_content">
				拜朋神
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<form id="new_respond" method="post" action="">
		回复：</br>
		<textarea id="new_resp_content" name="content"></textarea></br>
		<input type="submit" value="提交"/>
	</form>
</body>
</html>