<!doctype html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title>个人中心</title>
	<link rel="stylesheet" href="/static/css/base.css">
</head>

<body>
<div id="container">
	<div id="account_header">
		<img class="acnt_head_img" src="/static/images/mengbi.jpg">
		<div class="acnt_header_content">
			帐号</br>
			昵称</br>
		</div>
	</div>
	<div class="clear"></div>
	<div id="account_block">
		<h2>修改昵称</h2>
		<h2>修改头像</h2>
		<h2>填写密保问题</h2>
		<span class="inputname">密保问题:</span><input type="text" name="nickname"/></br></br>
		<span class="inputname">密保答案:</span><input type="text" name="email"/></br></br>
	</div>
</body>
</html>