body{
	background:#f5f5f5;
	font-family:"Microsoft YaHei";
	font-size:16px;
}
#container{
	background:#ffffff;
    width:1000px;
    margin:0px auto;
	padding-left:50px;
}
#header{
	height:160px;
	line-height:160px;
	font-size:50px;
	border-bottom:
}
.post{
	height:150px;
}
.title{
	font-size:25px;
}
.brief{
	padding:10px 0px 10px 20px;
}