<!doctype html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title>找回界面</title>
	<link rel="stylesheet" href="/static/css/log.css">
</head>

<body>
<div id="logcontainer">
	<div id="logheader">
		找回密码
	</div>
	<div id="logblock">
		<span class="inputname">密保问题:</span><input type="text" name="repassword"/></br></br>
		<span class="inputname">密保答案:</span><input type="text" name="repassword"/></br></br>
		<span class="inputname">新密码:</span><input type="password" name="password"/></br></br>
		<span class="inputname">重复密码:</span><input type="password" name="repassword"/></br></br>
		<div id="buttons">
			<input type="button" value="修改密码" onclick="register()"/>
		</div>
	</div>
</body>
</html>