<!doctype html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title>主页</title>
	<link rel="stylesheet" href="/static/css/base.css"><!--路径/static/css/-->
</head>

<body>
<div id="container">
	<div id="homepage_header" style="background-image:url(/static/images/hp_header.jpg)"></div>
	<div id="menu_block">先写个菜单栏的框子，以后可以用做搜索什么的</div>
	<div id="user_info">
		<h3>个人信息</h3>
		<img class="user_info_img" src="{{ img }}"></br><!--路径/static/images/mengbi.jpg-->
		<span class="user_info_name">昵称: {{ user.tkuser.nickname }}</span></br>
		<span class="user_info_name">用户名: {{ user.username }}</span></br>
		<span class="user_info_name">邮箱: {{ user.email }}</span></br>
		<span class="user_info_name">金币数: {{ user.tkuser.numCoin }}</span></br></br>
		
		<button class="user_info_btn" type="button" onclick="window.location.href='{% url 'account' %}'">修改资料</button></br>
		<button class="user_info_btn" type="button" onclick="logout()">注销登录</button></br>
		{% if user.tkuser.usrType != 0 %}
			<button class="user_info_btn" type="button" onclick="window.location.href='{% url 'admin' %}'">管理用户</button></br>
		{% endif %}
	</div>
	<div id="post_list">
		{% for post in posts %}
		<div class="post_item">
			<a class="post_item_title" href="">{{ post.title }}</a>
			<div class="post_item_brief"><p>{{ post.content }}</p></div>
			<div class="post_item_date">{{ post.time|date:"Y-m-d H:i:s" }}</div>
		</div>
		<div class="clear"></div>
		{% endfor %}
		<div id="pagenum">
			第1页 共1页  << 1 >>
		</div>
	</div>
	<div class="clear"></div>
	<form id="new_post" method="post" action="">
		标题：</br><input id="new_post_title" type="text" name="title"/>
		</br></br>
		内容：</br><textarea id="new_post_content" name="content"></textarea></br>
		添加图片/附件：
		<input id="new_post_file" type="file" name="headimg"/>
		</br></br>
		<input id="new_post_submit" type="submit" value="提 交" />
	</form>
	<script type="text/javascript" src="/static/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="/static/js/homepage.js"></script>
</body>
</body>
</html>