﻿<!doctype html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title>主页</title>
	<link rel="stylesheet" href="/static/css/base.css"><!--路径/static/css/-->
</head>

<body>
<div id="container">
	<div id="homepage_header" style="background-image:url(/static/images/hp_header.jpg)"></div>
	<div id="menu_block">
		类标要求: 
		<select class="menu_block_label" name="search_label">
			<option value="无">无</option>
			{% for tag in tags %}
			<option value="{{ tag.classTagName }}">{{ tag.classTagName }}</option>
			{% endfor %}
		</select>
		内容要求: 
		<input id="menu_block_content" type="text" name="search_content"/>
		<input id="menu_block_search" type="button" value="搜 索"/>
	</div>
	<div id="user_info">
		<h3>个人信息</h3>
		<img class="user_info_img" src="{{ img }}"></br><!--路径/static/images/mengbi.jpg-->
		<span class="user_info_name">昵称: {{ user.tkuser.nickname }}</span></br>
		<span class="user_info_name">用户名: {{ user.username }}</span></br>
		<span class="user_info_name">邮箱: {{ user.email }}</span></br>
		<span class="user_info_name">金币数: {{ user.tkuser.numCoin }}</span></br></br>
		
		<input class="user_info_btn" type="button" value="修改资料" onclick="window.location.href='{% url 'account' %}'"/></br>
		<input class="user_info_btn" type="button" value="注销登录" onclick="logout()"/></br>
		{% if user.tkuser.usrType != 0 %}
			<input class="user_info_btn" type="button" value="管理用户" onclick="window.location.href='{% url 'admin' %}'"/></br>
		{% endif %}
	</div>
	<div id="post_list">
		{% for post in posts %}
		<div class="post_item">
			<a class="post_item_title" href="{% url 'post' post.id %}"><span class="post_item_label">【{{ post.classTag }}】</span>{{ post.title }}</a>
			<div class="post_item_brief"><p>{{ post.content }}</p></div>
			<div class="post_item_date">{{ post.time|date:"Y-m-d H:i:s" }}</div>
		</div>
		<div class="clear"></div>
		{% endfor %}
		<div id="pagenum">
			第1页 共1页  <a href=""><<</a> 1 <a href="">>></a>
		</div>
	</div>
	<div class="clear"></div>
	<form id="new_post" method="post" action="" >
		标题：</br><input id="new_post_title" type="text" name="title" onsubmit="checkPost()" />
		</br></br>
		内容：</br><textarea id="new_post_content" name="content"></textarea></br>
		添加图片/附件：
		<input id="new_post_file" type="file" name="headimg"/></br>
		<div id="new_post_labels">
			添加类标：
			<select class="new_post_label" name="tag1">
			{% for tag in tags %}
				<option value="{{ tag.classTagName }}">{{ tag.classTagName }}</option>
			{% endfor %}
			</select>
			<select class="new_post_label" name="tag2">
				<option value="无" selected="selected">无</option>
				{% for tag in tags %}
					<option value="{{ tag.classTagName }}">{{ tag.classTagName }}</option>
				{% endfor %}
			</select>
			<select class="new_post_label" name="tag3">
				<option value="无" selected="selected">无</option>
				{% for tag in tags %}
					<option value="{{ tag.classTagName }}">{{ tag.classTagName }}</option>
				{% endfor %}
			</select>
		</div></br>
		<input type="button" value="提交" id="new_post_submit" onclick="checkPost()" />
	</form>
	<script type="text/javascript" src="/static/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="/static/js/homepage.js"></script>
</body>
</body>
</html>