﻿<!doctype html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title>主页</title>
	<link rel="stylesheet" href="/static/css/base.css"><!--路径/static/css/-->
</head>

<body>
<div id="container">
	<div id="homepage_header" style="background-image:url(/static/images/hp_header.jpg)"></div>
	<div id="menu_block">
		类标要求: 
		<select class="menu_block_label" id="search_label">
			<option value="无">无</option>
			{% for tag in tags %}
			<option value="{{ tag.classTagName }}">{{ tag.classTagName }}</option>
			{% endfor %}
		</select>
		内容要求: 
		<input id="menu_block_content" type="text"/>
		<input class="menu_block_btn" id="searchbtn" type="button" value="搜 索"/>
		排行榜: 
		<select class="menu_block_rank" name="rank" id="sort">
			<option value="time">按时间</option>
			<option value="click">按点击数</option>
			<option value="up">按点赞数</option>
			<option value="respond">按回复数</option>
			<option value="coin">按金币数</option>
		</select>
		<button id="sortbtn" class="menu_block_btn">排 行</button>
	</div>
	<div id="user_info">
		<h3>个人信息</h3>
		<img class="user_info_img" src="{{ img }}"></br><!--路径/static/images/mengbi.jpg-->
		<span class="user_info_name">昵称: {{ user.tkuser.nickname }}</span></br>
		<span class="user_info_name">用户名: {{ user.username }}</span></br>
		<span class="user_info_name">邮箱: {{ user.email }}</span></br>
		<span class="user_info_name">金币数: {{ user.tkuser.numCoin }}</span></br>
		{% if user.tkuser.usrStatus == 0 %}
			<span class="user_info_name">状态: 正常</span></br></br>
		{% elif user.tkuser.usrStatus == 1 %}
			<span class="user_info_name">状态: 禁言</span></br></br>
		{% elif user.tkuser.usrStatus == 2 %}
			<span class="user_info_name">状态: 屏蔽</span></br></br>
		{% endif %}
		<input class="user_info_btn" type="button" value="修改资料" onclick="window.location.href='{% url 'account' %}'"/></br>
		<input class="user_info_btn" type="button" value="注销登录" onclick="logout()"/></br>
		{% if user.tkuser.usrType != 0 %}
			<input class="user_info_btn" type="button" value="管理用户" onclick="window.location.href='{% url 'useradmin' 1 %}'"/></br>
			<input class="user_info_btn" type="button" value="管理类标" onclick="window.location.href='{% url 'tagadmin' 1 %}'"/></br>
		{% endif %}
	</div>
	<div id="post_list">
		{% for p in posts %}
		{% if p.post.user.tkuser.usrStatus != 2 %}
		<div class="post_item">
			<div class="post_item_wrap1">
				<p class="post_item_title">
					<a class="postlick" id="post{{ forloop.counter }}" href="{% url 'post' p.post.id 1 %}" target="_blank">
					<span class="post_item_label">【{{ p.post.classTag }}】</span>
					{% if p.post.highlight == 1%}
						<span style="color:#ff0000">{{ p.post.title }}</span><!--不高亮的直接去掉style就行-->
					{% else %}
						<span>{{ p.post.title }}</span>
					{% endif %}
				</a></p>
				<p class="post_item_author">{{ p.post.user.tkuser.nickname }}</p>
				<p class="post_item_num">回复{{ p.post.numResp }} 点击数{{ p.post.numClick }} 金币数{{ p.post.coin }} 点赞数{{ p.post.score }}</p>
			</div>
			<div class="clear"></div>
			<div class="post_item_wrap2">
				<div class="post_item_brief"><p>{{ p.post.content }}</p></div>
				<div class="post_item_date">{{ p.post.time|date:"Y-m-d H:i:s" }}</div>
			</div>
			<div class="clear"></div>
			{% if user.tkuser.usrType != 0 %}
			<div class="post_item_wrap3"><!--wrap3只有管理员可见-->
				<input class="post_item_btn opPost" id="delPost{{ forloop.counter }}" type="button" value="删除帖子"/>
				添加类标：
				<select class="post_item_ctrl" id="addTag{{ forloop.counter }}">
					<option value="无">无</option>
					{% for tag in tags %}
					{% if p.tag1 != tag.classTagName and p.tag2 != tag.classTagName and p.tag3 != tag.classTagName%}
						<option value="{{ tag.classTagName }}">{{ tag.classTagName }}</option>
					{% endif %}
					{% endfor %}
				</select>
				删除类标：
				<select class="post_item_ctrl" id="delTag{{ forloop.counter }}">
					<option value="无">无</option>
					<option value="{{ p.tag1 }}">{{ p.tag1 }}</option>
					{% if p.tag2 != '无' %}
						<option value="{{ p.tag2 }}">{{ p.tag2 }}</option>
					{% endif %}
					{% if p.tag3 != '无' %}
						<option value="{{ p.tag3 }}">{{ p.tag3 }}</option>
					{% endif %}
				</select>
				<button class="post_item_btn opTag" type="button" id="op{{ forloop.counter }}">修改类标</button>
			</div>
			{% endif %}
			<div class="clear"></div>
		</div>
		{% endif %}
		{% endfor %}
		<div id="pagenum">
			<span id="nowpage">共{{ pagenum }}页</span>  <button type="button" class="pagechange" id="prepage"><<</button> {{ page }} <button type="button" class="pagechange" id="nextpage">>></button> 
			<span style="float:right;">
				跳到第<input class="pagenum_jump" type="text" id="page" />页
				<input class="pagenum_jump_btn" type="button" value="GO" id="turnpage" />
			</span>
		</div>
	</div>
	<div class="clear"></div>
	<form id="new_post" method="post" action="" enctype="multipart/form-data">
		标题：</br><input id="new_post_title" type="text" name="title" />
		</br></br>
		内容：</br>
		<!--这里的textarea换成了div，submit时要提交div的内容-->
		<textarea id="new_post_content" name="content"></textarea></br>
		添加图片：
		<input class="new_post_file" type="file" id="img" name="img"/></br>
		添加附件：
		<input class="new_post_file" type="file" id="attachment" name="attachment"/></br>
		<div id="new_post_labels">
			添加类标：
			<select class="new_post_label" name="tag1">
			{% for tag in tags %}
				<option value="{{ tag.classTagName }}">{{ tag.classTagName }}</option>
			{% endfor %}
			</select>
			<select class="new_post_label" name="tag2">
				<option value="无" selected="selected">无</option>
				{% for tag in tags %}
					<option value="{{ tag.classTagName }}">{{ tag.classTagName }}</option>
				{% endfor %}
			</select>
			<select class="new_post_label" name="tag3">
				<option value="无" selected="selected">无</option>
				{% for tag in tags %}
					<option value="{{ tag.classTagName }}">{{ tag.classTagName }}</option>
				{% endfor %}
			</select>
			{% if user.tkuser.numCoin >= 10 %}
		    	</br>使用高亮(10金币)：<input type="checkbox" id="highlight" name="highlight"/>
		    {% endif %}
		</div>
		</br>
		{% if user.tkuser.usrStatus > 0 %}
			<p>您处于禁言或屏蔽状态，无法发帖！</p>
		{% else %}
			<input type="button" value="提交" id="new_post_submit" onclick="checkPost()" />
		{% endif %}
	</form>
	<script type="text/javascript" src="/static/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="/static/js/homepage.js"></script>
</body>
</body>
</html>