<!doctype html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title>帖子</title>
	<link rel="stylesheet" href="/static/css/base.css"><!--路径/static/css/-->
</head>

<body>
<div id="container">
	<div class="post_block">
		<div class="post_title">
			<div class="post_title_block">
				<p style="margin:0px;">{{ post.title }}</p>
			</div>
			<form id="host_only" method="post">
				<input class="post_title_btn" type="submit" name="setonly" id="only" value="{{ host }}" />
			</form>
			<input class="post_title_btn" type="button" value="打赏金币" onclick=""/>
		</div>
		<div class="respond">
			<div class="respond_user">
				<img class="resp_user_img" src="{{ img }}"></br><!--路径/static/images/-->
				{{ post.user.tkuser.nickname }}
			</div>
			<div class="respond_content">
				{{ post.content }}
			</div>
			<!--因为我这回复有问题所以楼中楼暂时写在了楼主这层，从这开始是楼层的日期和楼中楼-->
			<div class="respond_wrap">
				<div class="respond_date">{{ post.time|date:"Y-m-d H:i:s" }}</div>
				<div class="respond_date">点赞还没写</div>
			</div>
			<div class="clear"></div>
			<div class="rerespond_list">
				<div class="rerespond_item">
					<img class="rerespond_user" src="{{ img }}">
					<div class="rerespond_content">
					用户1：很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长
					很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长
					很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长
					很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长
					</div>
					<div class="rerespond_date">7-26</div>
					<div class="clear"></div>
				</div>
				<div class="rerespond_item">
					<img class="rerespond_user" src="{{ img }}">
					<div class="rerespond_content">
					用户1：很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长
					</div>
					<div class="rerespond_date">7-26</div>
					<div class="clear"></div>
				</div>
				<div class="new_rerespond">
					回复：<textarea class="new_reresp_content" name="rerespond"></textarea>
					<input class="new_reresp_btn" type="button" value="发 表" class=""/>
				</div>
			</div>
			<!--到这结束-->
			<div class="clear"></div>
		</div>
		{% for repost in reposts %}
		<div class="respond">
			<div class="respond_user">
			{% if repost.user.tkuser.img %}
				<img class="resp_user_img" src="{{ repost.user.tkuser.img.url }}"></br><!--路径/static/images/-->
			{% else %}
				<img class="resp_user_img" src="/static/images/mengbi.jpg"></br>
			{% endif %}
				{{ repost.user.tkuser.nickname }}
			</div>
			<div class="respond_content">
				{{ repost.content }}
			</div>
			<div class="respond_wrap">
				<div class="respond_date">{{ repost.time|date:"Y-m-d H:i:s" }}</div>
				<div class="respond_date">点赞还没写</div>
			</div>
			<!--因为我这回复有问题所以楼中楼暂时写在了楼主这层，从这开始是楼层的日期和楼中楼-->
			<div class="clear"></div>
			<div class="rerespond_list">
				<div class="rerespond_item">
					<img class="rerespond_user" src="{{ img }}">
					<div class="rerespond_content">
					用户1：很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长
					很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长
					很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长
					很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长
					</div>
					<div class="rerespond_date">7-26</div>
					<div class="clear"></div>
				</div>
				<div class="rerespond_item">
					<img class="rerespond_user" src="{{ img }}">
					<div class="rerespond_content">
					用户1：很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长
					</div>
					<div class="rerespond_date">7-26</div>
					<div class="clear"></div>
				</div>
				<div class="new_rerespond">
					回复：<textarea class="new_reresp_content" name="rerespond"></textarea>
					<input class="new_reresp_btn" type="button" value="发 表" class=""/>
				</div>
			</div>
			<!--到这结束-->
			<div class="clear"></div>
		</div>
		{% endfor %}
	</div>
	<div id="pagenum">
		第1页 共1页  << 1 >>
	</div>
	<form id="new_respond" method="post">
		回复：</br><textarea id="new_post_content" name="content"></textarea></br>
		添加图片/附件：
		<input id="new_post_file" type="file" name="attachment"/>
		</br></br>
		<input id="new_post_submit" type="button" value="提 交" onclick="response()" />
	</form>
	<script type="text/javascript" src="/static/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="/static/js/post.js"></script>
</body>
</html>