<!doctype html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title>帖子</title>
	<link rel="stylesheet" href="/static/css/base.css"><!--路径/static/css/-->
</head>

<body>
<div id="container">
	<div class="post_block">
		<div class="post_title">
			<div class="post_title_block">
				<p style="margin:0px;">{{ post.title }}</p>
			</div>
			<form id="host_only" method="post">
				<input class="post_titleo_btn" type="submit" name="setonly" id="only" value="{{ host }}" />
			</form>
			<input class="post_titleo_btn" type="button" value="打赏金币" onclick=""/>
		</div>
		<div class="clear"></div>
		<div class="respond">
			<div class="respond_user">
				<img class="resp_user_img" src="{{ img }}"></br><!--路径/static/images/-->
				{{ post.user.tkuser.nickname }}
			</div>
			<div class="respond_content">
				{{ post.content }}
			</div>
			<div class="respond_date">{{ post.time|date:"Y-m-d H:i:s" }}</div>
			<div class="clear"></div>
		</div>
		{% for repost in reposts %}
		<div class="respond">
			<div class="respond_user">
			{% if repost.user.tkuser.img %}
				<img class="resp_user_img" src="{{ repost.user.tkuser.img.url }}"></br><!--路径/static/images/-->
			{% else %}
				<img class="resp_user_img" src="/static/images/mengbi.jpg"></br>
			{% endif %}
				{{ repost.user.tkuser.nickname }}
			</div>
			<div class="respond_content">
				{{ repost.content }}
			</div>
			<div class="respond_date">{{ repost.time|date:"Y-m-d H:i:s" }}</div>
			<div class="clear"></div>
		</div>
		{% endfor %}
	</div>
	<div id="pagenum">
		第1页 共1页  << 1 >>
	</div>
	<form id="new_respond" method="post">
		回复：</br><textarea id="new_post_content" name="content"></textarea></br>
		添加图片/附件：
		<input id="new_post_file" type="file" name="attachment"/>
		</br></br>
		<input id="new_post_submit" type="button" value="提 交" onclick="response()" />
	</form>
	<script type="text/javascript" src="/static/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="/static/js/post.js"></script>
</body>
</html>